<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="dist/img/fotoPerfil.jpg" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>Eduardo Luttinger</p>
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>
        <!-- search form -->
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="searchInput" ng-model="menuOptions.searchWord"
                       class="form-control" placeholder="Search...">
              <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
            </div>
        </form>
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="header">Admin Options</li>
            <li class="active treeview"
                ng-repeat="menu in menus | filter:{name:menuOptions.searchWord}">
                <a>
                    <i class="fa fa-dashboard"></i> <span>{{menu.name}}</span> <i
                        class="fa fa-angle-left pull-right"></i>
                    <ul class="treeview-menu">
                        <li ng-repeat="subMenu in menu.subMenus">
                            <a ui-sref="{{subMenu.url}}"><i class="fa fa-circle-o"></i>{{subMenu.name}}</a>
                        </li>
                    </ul>
                </a>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>