<spinner name="spinnerNew" ng-cloak="">
    <div class="overlay"></div>
    <div class="spinner">
        <div class="test"><i class="fa fa-refresh fa-spin fa-5x"></i></div>
    </div>
    <div class="please-wait">Please Wait...</div>
</spinner>

<div class="skin-blue sidebar-mini">

    <div class="wrapper" ng-controller="DeviceViewUsersCtrl">

        <!--header-->
        <div ui-view="header"></div>

        <!--menu-->
        <div ui-view="menu"></div>

        <div class="content-wrapper">

            <section class="content-header">
                <h1>
                    Device View Users
                    <small>Control panel</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a ui-sref="home"><i class="fa fa-dashboard"></i>Home</a></li>
                    <li class="active">Device Dashboard</li>
                </ol>
            </section>

            <section class="content" style="min-height:575px;">

                <div growl></div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="content" style="min-height: 0px;">
                                    <div class="box box-primary box-solid">
                                        <div class="box-header bg-light-blue-active with-border">
                                            <h3 class="box-title">Device View Users Control</h3>

                                        </div><!-- /.box-header -->
                                        <div class="box-body">
                                            <!--Search StakeHolder-->
                                            <div class="col-md-6">
                                                <div class="box box-info">
                                                    <div class="box-body">
                                                        <table>
                                                            <tbody>
                                                            <tr>
                                                                <td style="width: 400px;">
                                                                    <input type="text" id="id_device_id" class="form-control" ng-model="deviceId" placeholder="Id Device"/>
                                                                </td>
                                                                <td>
                                                                    <button class="btn btn-info btn-flat" type="button" ng-click="searchDevice()">Go!</button>
                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--Table StakeHolder-->
                                            <div class="col-md-12" ng-show="showTableRoute">
                                                <div class="box box-info">
                                                    <div class="box-header">
                                                        <h3 class="box-title">Users Relation with Device</h3>
                                                    </div><!-- /.box-header -->
                                                    <div class="box-body">

                                                        <div>
                                                            <input class="form-control reduceSize" placeholder="Search here..." on-enter-blur on-blur-change="filterResult()" ng-model="filterCriteria.ReaxiumParameters.ReaxiumDevice.filter" type="text" />
                                                        </div>

                                                        <table id="userTable"
                                                               class="table table-bordered table-striped">
                                                            <thead>
                                                            <tr>
                                                                <th ng-repeat="header in userTableHeaders">
                                                                    <sort-by onsort="onSort" sortdir="filterCriteria.ReaxiumParameters.ReaxiumDevice.sortDir" sortedby="filterCriteria.ReaxiumParameters.ReaxiumDevice.sortedBy" sortvalue="{{ header.value }}">{{ header.title }}</sort-by>
                                                                </th>
                                                                <th>Status</th>
                                                                <th>Type Access</th>
                                                                <th>Actions</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            <tr ng-repeat="obj in listUsersByDevice">
                                                                <td>{{obj.UserAccessData.user.first_name}}</td>
                                                                <td>{{obj.UserAccessData.user.first_last_name}}</td>
                                                                <td>{{obj.UserAccessData.user.document_id}}</td>
                                                                <td>{{obj.UserAccessData.user.status.status_name | lowerCase | capitalize}}</td>
                                                                <td>{{obj.UserAccessData.access_type.access_type_name}}</td>
                                                                <td><a data-toggle="tooltip" title="Delete Device" ng-click="deleteUser(obj.UserAccessData.user_access_data_id)"><small><i class="fa fa-fw fa-trash"></i></small></i></a></td>
                                                            </tr>
                                                            </tbody>
                                                            </tfoot>
                                                        </table>

                                                        <div ng-show="totalRecords == 0">
                                                            <h3>No Customers Found</h3>
                                                        </div>
                                                        <div ng-show="totalPages > 1" class="align-center">
                                                            <uib-pagination total-items="totalRecords" ng-model="filterCriteria.ReaxiumParameters.ReaxiumDevice.page" items-per-page="filterCriteria.ReaxiumParameters.ReaxiumDevice.limit" previous-text="previous" next-text="next" last-text="last"
                                                                            direction-links="true" rotate="false" ng-change="selectPage()"></uib-pagination>
                                                        </div>
                                                    </div><!-- /.box-body -->
                                                </div><!-- /.box -->

                                            </div><!-- /.col -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>

        </div>


        <!--footer-->
        <div ui-view="footer"></div>

    </div>

</div>