<spinner name="spinnerNew" ng-cloak="">
    <div class="overlay"></div>
    <div class="spinner">
        <div class="test"><i class="fa fa-refresh fa-spin fa-5x"></i></div>
    </div>
    <div class="please-wait">Please Wait...</div>
</spinner>

<div class="skin-blue sidebar-mini">

    <div class="wrapper" ng-controller="DeviceCtrl">

        <!--header-->
        <div ui-view="header"></div>

        <!--menu-->
        <div ui-view="menu"></div>

        <!--content-->
        <div class="content-wrapper">

            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    Device Dashboard
                    <small>Control panel</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
                    <li class="active">User Dashboard</li>
                </ol>
            </section>

            <!-- Main content -->
            <section class="content">
                <!-- Small boxes (Stat box) -->
                <div class="row">
                    <div class="col-lg-3 col-xs-4">
                        <!-- small box -->
                        <div class="small-box bg-blue">
                            <div class="inner">
                                <h3>100</h3>
                                <p>Active devices</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-stats-bars"></i>
                            </div>
                        </div>
                    </div><!-- ./col -->
                    <div class="col-lg-3 col-xs-4">
                        <!-- small box -->
                        <div class="small-box bg-blue">
                            <div class="inner">
                                <h3>30<sup style="font-size: 20px">%</sup></h3>
                                <p>Devices IN</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-stats-bars"></i>
                            </div>
                        </div>
                    </div><!-- ./col -->
                    <div class="col-lg-3 col-xs-4">
                        <!-- small box -->
                        <div class="small-box bg-blue">
                            <div class="inner">
                                <h3>70</h3>
                                <p>Devices OUT</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-stats-bars"></i>
                            </div>
                        </div>
                    </div><!-- ./col -->
                </div><!-- /.row -->
                <!-- Main row -->
                <div class="row">
                    <section class="content">
                        <div class="row">
                            <div class="col-xs-12">

                                <div class="box">
                                    <div class="box-header">
                                        <div class="small-box">
                                            <div class="customIcon">
                                                <i  class="ion ion-plus-circled"></i>
                                            </div>
                                        </div>
                                        <h3 class="box-title">System Devices</h3>

                                    </div><!-- /.box-header -->
                                    <div class="box-body">

                                        <div>
                                            <input class="form-control reduceSize" placeholder="Search here..." on-enter-blur on-blur-change="filterResult()" ng-model="userCtrl.filterCriteria.ReaxiumParameters.filter" type="text" />
                                        </div>

                                        <table id="userTable" class="table table-bordered table-striped">
                                            <thead>
                                            <tr>
                                                <!--<th ng-repeat="header in userCtrl.userTableHeaders">
                                                    <sort-by onsort="onSort" sortdir="userCtrl.filterCriteria.ReaxiumParameters.sortDir" sortedby="userCtrl.filterCriteria.ReaxiumParameters.sortedBy" sortvalue="{{ header.value }}">{{ header.title }}</sort-by>
                                                </th>-->
                                                <th>Device Name</th>
                                                <th>Device Description</th>
                                                <th>Status</th>
                                                <th>Application RelationShip</th>
                                                <th>Actions</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="obj in devices">
                                                <td>{{obj.device_name}}</td>
                                                <td>{{obj.device_description}}</td>
                                                <td>{{obj.status.status_name}}</td>
                                                <td>{{obj.applications[0].application_name}}</td>
                                                <td><a><small><i class="fa fa-fw fa-trash"></i></small></i></a> - <a ng-click="addUserDevice(obj.device_id)"><small><i class="fa fa-fw fa-plus-circle"></i> </small></a></td>
                                            </tr>
                                            </tbody>
                                            </tfoot>
                                        </table>
                                        <!--<div ng-show="userCtrl.totalRecords == 0">
                                            <h3>No Customers Found</h3>
                                        </div>
                                        <div ng-show="userCtrl.totalPages > 1" class="align-center">
                                            <uib-pagination total-items="userCtrl.totalRecords" ng-model="userCtrl.filterCriteria.ReaxiumParameters.page" items-per-page="userCtrl.filterCriteria.ReaxiumParameters.limit" previous-text="previous" next-text="next" last-text="last"
                                                            direction-links="true" rotate="false" ng-change="userCtrl.selectPage()"></uib-pagination>
                                        </div>-->
                                    </div><!-- /.box-body -->

                                </div><!-- /.box -->

                            </div><!-- /.col -->
                        </div><!-- /.row -->
                    </section><!-- /.content -->

                </div>
            </section>

        </div>

        <!--footer-->
        <div ui-view="footer"></div>
    </div>

</div>