<spinner name="spinnerNew" ng-cloak="">
    <div class="overlay"></div>
    <div class="spinner">
        <div class="test"><i class="fa fa-refresh fa-spin fa-5x"></i></div>
    </div>
    <div class="please-wait">Please Wait...</div>
</spinner>

<div class="skin-blue sidebar-mini">

    <div class="wrapper" ng-controller="DeviceCtrl">

        <!--header-->
        <div ui-view="header"></div>

        <!--menu-->
        <div ui-view="menu"></div>

        <!--content-->
        <div class="content-wrapper">

            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    Device Dashboard
                    <small>Control panel</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a ui-sref="home"><i class="fa fa-dashboard"></i>Home</a></li>
                    <li class="active">Device Dashboard</li>
                </ol>
            </section>

            <!-- Main content -->
            <section class="content">

                <div growl></div>
                <!-- Main row -->
                <div class="row">
                    <section class="content" style="min-height:450px;">
                        <div class="row">
                            <div class="col-xs-12">

                                <div class="box  box-info">
                                    <div class="box-header">
                                        <div class="small-box">
                                            <div class="customIcon">
                                                <a ui-sref="deviceNew" data-toggle="tooltip" title="Add Device">
                                                    <i  class="ion ion-plus-circled"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <h3 class="box-title">System Devices</h3>

                                    </div><!-- /.box-header -->
                                    <div class="box-body">

                                        <div>
                                            <input class="form-control reduceSize" placeholder="Search here..." on-enter-blur on-blur-change="filterResult()" ng-model="filterCriteria.ReaxiumParameters.filter" type="text" />
                                        </div>

                                        <table id="userTable" class="table table-bordered table-striped">
                                            <thead>
                                            <tr>
                                                <th>Device ID</th>
                                                <th ng-repeat="header in deviceTableHeaders">
                                                    <sort-by onsort="onSort" sortdir="filterCriteria.ReaxiumParameters.sortDir" sortedby="filterCriteria.ReaxiumParameters.sortedBy" sortvalue="{{ header.value }}">{{ header.title }}</sort-by>
                                                </th>
                                                <th>Status</th>
                                                <th>Actions</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="obj in devices">
                                                <td>{{obj.device_id}}</td>
                                                <td>{{obj.device_name}}</td>
                                                <td>{{obj.device_description}}</td>
                                                <td>{{obj.configured}}</td>
                                                <td>{{obj.status.status_name | lowerCase | capitalize}}</td>
                                                <td>
                                                    <a data-toggle="tooltip" title="Delete Device" ng-click="deleteDevice(obj.device_id)"><small><i class="fa fa-fw fa-trash"></i></small></i></a> -
                                                    <a data-toggle="tooltip" title="Device Access Control" ui-sref="deviceRelUser({id_device:obj.device_id})"><small><i class="fa fa-fw fa-unlock-alt"></i> </small></a>-
                                                    <a data-toggle="tooltip" title="Device Relation Route" ui-sref="deviceRelRoute({id_device:obj.device_id})"><small><i class="fa fa-fw fa-exchange"></i></small></i></a>
                                                    <!--ng-click="accessUserDevice(obj.device_id)"-->
                                                    <!--ng-click="deviceRelRoute(obj.device_id)"-->
                                                </td>
                                            </tr>
                                            </tbody>
                                            </tfoot>
                                        </table>
                                        <div ng-show="totalRecords == 0">
                                            <h3>No Customers Found</h3>
                                        </div>
                                        <div ng-show="totalPages > 1" class="align-center">
                                            <uib-pagination total-items="totalRecords" ng-model="filterCriteria.ReaxiumParameters.page" items-per-page="filterCriteria.ReaxiumParameters.limit" previous-text="previous" next-text="next" last-text="last"
                                                            direction-links="true" rotate="false" ng-change="selectPage()"></uib-pagination>
                                        </div>
                                    </div><!-- /.box-body -->

                                </div><!-- /.box -->

                            </div><!-- /.col -->
                        </div><!-- /.row -->
                    </section><!-- /.content -->

                </div>
                <br/>
                <br/>
            </section>
        </div>

        <!--footer-->
        <div ui-view="footer"></div>

    </div>


</div>