<spinner name="spinnerNew" ng-cloak="">
    <div class="overlay"></div>
    <div class="spinner">
        <div class="test"><i class="fa fa-refresh fa-spin fa-5x"></i></div>
    </div>
    <div class="please-wait">Please Wait...</div>
</spinner>

<div class="skin-blue sidebar-mini">

    <div class="wrapper" ng-controller="DeviceAccessUserCtrl">

        <!--header-->
        <div ui-view="header"></div>

        <!--menu-->
        <div ui-view="menu"></div>

        <!--content-->
        <div class="content-wrapper" >

            <div growl></div>

            <section class="content-header">
                <h1>
                    Device Access Control
                    <small>Control panel</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a ui-sref="home"><i class="fa fa-dashboard"></i>Home</a></li>
                    <li><a ui-sref="device"></i>All Device</a></li>
                    <li class="active">Device Access Control</li>
                </ol>
            </section>

            <!-- Main content -->
            <section class="content" style="min-height:530px;">
                <div class="row">
                    <div class="col-lg-12">

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="content">
                                    <div class="box box-primary box-solid">
                                        <div class="box-header bg-light-blue-active with-border">
                                            <h3 class="box-title">Device Access Control</h3>

                                            <!--<div class="box-tools pull-right">
                                                <button class="btn btn-box-tool" data-widget="collapse"><i
                                                        class="fa fa-plus"></i></button>
                                            </div>--><!-- /.box-tools -->
                                        </div><!-- /.box-header -->
                                        <div class="box-body">
                                            <!--Search StakeHolder-->
                                            <div class="col-md-6">
                                                <div class="box box-info">
                                                    <div class="box-body">
                                                        <table>
                                                            <tbody>
                                                            <tr>
                                                                <td style="width: 400px;">
                                                                    <div angucomplete-alt id="ex2"
                                                                         placeholder="Search people"
                                                                         pause="5"
                                                                         selected-object="selectedPerson"
                                                                         local-data="userFilter"
                                                                         local-search="localSearch"
                                                                         title-field="first_name,second_name"
                                                                         minlength="3"
                                                                         description-field="document_id"
                                                                         image-field="pic"
                                                                         input-class="form-control form-control-small"
                                                                         match-class="highlight">
                                                                    </div>
                                                                </td>
                                                                <td ng-show="selectedPerson">
                                                                    <button class="btn btn-info btn-flat"
                                                                            type="button"
                                                                            ng-click="addUser(selectedPerson)">
                                                                        Go!
                                                                    </button>
                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table>

                                                    </div>

                                                </div>
                                            </div>
                                            <!--Table StakeHolder-->
                                            <div class="col-md-12" ng-show="showTable">
                                                <div class="box box-info">
                                                    <div class="box-header">
                                                        <h3 class="box-title">System Users</h3>
                                                    </div><!-- /.box-header -->
                                                    <div class="box-body">
                                                        <table id="userTable"
                                                               class="table table-bordered table-striped">
                                                            <thead>
                                                            <tr>
                                                                <th>Name</th>
                                                                <th>Last Name</th>
                                                                <th>ID</th>
                                                                <th>Login & Password</th>
                                                                <th>Biometric</th>
                                                                <th>Rfid</a></th>
                                                                <th>Actions</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            <tr ng-repeat="user in allUserSelcStakeHolder">
                                                                <td id="userId_{{user.user_id}}" ng-hide="true">{{user.user_id}}</td>
                                                                <td id="userName_{{user.user_id}}">{{user.first_name + " " +
                                                                    user.first_name}}
                                                                </td>
                                                                <td id="secondName_{{user.user_id}}">{{user.second_name + " " +
                                                                    user.second_name}}
                                                                </td>
                                                                <td id="documentId_{{user.user_id}}">{{user.document_id}}</td>
                                                                <td id="userPassword_{{user.user_id}}" style="text-align: center">

                                                                    <input type="checkbox" name="r3"  value="{{user.login_and_pass.access_type_id}}-{{user.login_and_pass.user_access_data_id}}" ng-hide="{{user.login_and_pass.disable_login_and_pass != 1}}">

                                                                    <div ng-show="{{user.login_and_pass.disable_login_and_pass == 0 && user.login_and_pass.exist_access_type && user.login_and_pass.isConfigured}}">
                                                                       <small><i class="fa fa-fw fa-check"></i></small>
                                                                   </div>

                                                                    <div ng-show="{{user.login_and_pass.disable_login_and_pass == 0 && !user.login_and_pass.exist_access_type}}">
                                                                        <small><i class="fa fa-fw fa-close"></i></small>
                                                                    </div>
                                                                </td>
                                                                <td id="biometrico_{{user.user_id}}" style="text-align: center">

                                                                    <input type="checkbox" name="r3"  value="{{user.biometric.access_type_id}}-{{user.biometric.user_access_data_id}}" ng-hide="{{user.biometric.disable_bio != 1}}">

                                                                    <div ng-show="{{user.biometric.disable_bio == 0 && user.biometric.exist_access_type && user.biometric.isConfigured}}">
                                                                        <small><i class="fa fa-fw fa-check"></i></small>
                                                                    </div>

                                                                    <div ng-show="{{user.biometric.disable_bio == 0 && !user.biometric.exist_access_type}}">
                                                                        <small><i class="fa fa-fw fa-close"></i></small>
                                                                    </div>

                                                                </td>
                                                                <td  id="rfid_{{user.user_id}}" style="text-align: center">
                                                                    <input type="checkbox" name="r3"  value="{{user.rfid.access_type_id}}-{{user.rfid.user_access_data_id}}" ng-hide="{{user.rfid.disable_rfid != 1}}">

                                                                    <div ng-show="{{user.rfid.disable_rfid == 0 && user.rfid.exist_access_type && user.rfid.isConfigured}}">
                                                                        <small><i class="fa fa-fw fa-check"></i></small>
                                                                    </div>

                                                                    <div ng-show="{{user.rfid.disable_rfid == 0 && !user.rfid.exist_access_type}}">
                                                                        <small><i class="fa fa-fw fa-close"></i></small>
                                                                    </div>

                                                                </td>
                                                                <td id="delete_{{user.user_id}}"><a ng-click="deleteUserTable(user.user_id)"><small><i class="fa fa-fw fa-trash"></i></small></i></a></td>
                                                            </tr>
                                                            </tbody>
                                                            </tfoot>
                                                        </table>
                                                    </div><!-- /.box-body -->
                                                </div><!-- /.box -->

                                            </div><!-- /.col -->
                                        </div>
                                    </div>

                                </div>
                            </div>


                        </div>

                        <div class="row" ng-show="showTable">
                            <div class="content" style="min-height: 0px;">
                                <div class="col-md-4"></div>
                                <div class="col-md-4">
                                    <button class="btn btn-block btn-primary btn-lg"
                                            ng-click="saveAccessUser()">Save
                                    </button>
                                    <br/>
                                </div>
                                <div class="col-md-4"></div>
                            </div>
                            <br/>
                        </div>

                    </div>
                </div>
            </section>
        </div>

        <!--footer-->
        <div ui-view="footer"></div>

        </div>

    </div>

</div>