<spinner name="spinnerNew" ng-cloak="">
    <div class="overlay"></div>
    <div class="spinner">
        <div class="test"><i class="fa fa-refresh fa-spin fa-5x"></i></div>
    </div>
    <div class="please-wait">Please Wait...</div>
</spinner>

<div class="skin-blue sidebar-mini">

    <div class="wrapper" ng-controller="SecurityCrl">

        <!--header-->
        <div ui-view="header"></div>

        <!--menu-->
        <div ui-view="menu"></div>

        <!--content-->
        <div class="content-wrapper" >

            <div growl></div>

            <section class="content-header">
                <h1>
                    User Access
                    <small>Control panel</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a ui-sref="home"><i class="fa fa-dashboard"></i>Home</a></li>
                    <li><a ui-sref="allUser">All Users</a></li>
                    <li class="active">Add User Access</li>
                </ol>
            </section>

            <!-- Main content -->
            <section class="content" style="min-height:575px;">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="content" style="min-height: 0px;">

                                <div class="col-md-12">
                                    <!--box Personal Information security-->
                                    <div class="box box-primary box-solid">
                                        <div class="box-header bg-light-blue-active with-border">
                                            <h3 class="box-title">Add User Access</h3>
                                        </div><!-- /.box-header -->
                                        <div class="box-body">
                                            <!--Search StakeHolder-->
                                            <div class="col-md-8">
                                                <div class="box box-info">
                                                    <div class="box-body">
                                                        <table>
                                                            <tbody>
                                                            <tr>
                                                                <td style="width: 400px;">
                                                                    <div angucomplete-alt id="ex2"
                                                                         placeholder="Search people"
                                                                         pause="300"
                                                                         selected-object="selectedPerson"
                                                                         local-data="userFilter"
                                                                         local-search="localSearch"
                                                                         title-field="first_name,second_name"
                                                                         minlength="2"
                                                                         description-field="email"
                                                                         image-field="pic"
                                                                         input-class="form-control form-control-small"
                                                                         match-class="highlight">
                                                                    </div>
                                                                </td>
                                                                <td ng-show="selectedPerson">
                                                                    <button class="btn btn-info btn-flat"
                                                                            type="button"
                                                                            ng-click="addUser(selectedPerson)">
                                                                        Go!
                                                                    </button>
                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table>

                                                    </div>

                                                </div>
                                            </div>
                                            <!--Table StakeHolder-->
                                            <div class="col-md-8" ng-show="showForm">
                                                <div class="box box-info">
                                                    <div class="box-header with-border">
                                                        <h3 class="box-title">Login & Password</h3>
                                                    </div><!-- /.box-header -->
                                                    <!-- form start -->
                                                    <div class="box-body">
                                                        <div class="form-group">
                                                            <label for="inputEmail3"
                                                                   class="col-sm-2 control-label">Login</label>

                                                            <div class="col-sm-10">
                                                                <input type="text" class="form-control"
                                                                       id="inputEmail3" placeholder="Login" ng-model="access.login">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="inputPassword3"
                                                                   class="col-sm-2 control-label">Password</label>

                                                            <div class="col-sm-10">
                                                                <input type="password" class="form-control"
                                                                       id="inputPassword3"
                                                                       placeholder="Password" ng-model="access.pass">
                                                            </div>
                                                        </div>

                                                    </div><!-- /.box-body -->
                                                </div><!-- /.box -->
                                            </div><!-- /.col -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="content" style="min-height: 0px;">
                                <div class="col-md-4"></div>
                                <div class="col-md-4">
                                    <button class="btn btn-block btn-primary btn-lg"
                                            ng-click="saveAccessUser()">Save
                                    </button>
                                    <br/>
                                </div>
                                <div class="col-md-4"></div>
                            </div>
                            <br/>
                        </div>


                    </div>
                </div>

            </section>

        </div>

        <!--footer-->
        <div ui-view="footer"></div>

    </div>

</div>