<spinner name="spinnerNew" ng-cloak="">
    <div class="overlay"></div>
    <div class="spinner">
        <div class="test"><i class="fa fa-refresh fa-spin fa-5x"></i></div>
    </div>
    <div class="please-wait">Please Wait...</div>
</spinner>

<div class="skin-blue sidebar-mini">

    <div class="wrapper" ng-controller="RouteNewCtrl">

        <!--Header-->
        <div ui-view="header"></div>

        <!--Menu-->
        <div ui-view="menu"></div>

        <!--Content-->
        <div class="content-wrapper">

            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>Register New Route</h1>
                <ol class="breadcrumb">
                    <li><a ui-sref="home"><i class="fa fa-dashboard"></i>Home</a></li>
                    <li><a ui-sref="routes">All Routes</a></li>
                    <li class="active"><a>New Routes</a></li>
                </ol>

            </section>

            <section class="content">
                <div growl></div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="content" style="min-height: 0px;">
                            <div class="box box-primary">
                                <div class="box-header bg-light-blue-active with-border ">
                                    <h3 class="box-title">Create Route</h3>
                                </div><!-- /.box-header -->

                                <!-- form start -->
                                <form class="form-horizontal">
                                    <div class="box-body">
                                        <div class="form-group">
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" id="id_number_route" placeholder="Number Route" ng-model="numberRoute" ng-disabled="disabledFields">
                                            </div>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" id="id_name_route" placeholder="Name Route" ng-model="nameRoute" ng-disabled="disabledFields">
                                            </div>
                                        </div>
                                    </div><!-- /.box-body -->
                                </form>
                                <!-- form start -->
                                <form class="form-horizontal">
                                    <div class="box-body">
                                        <div class="form-group">
                                            <div class="col-sm-6">
                                                <select class="form-control" style="width: 100%;" ng-model="selectTypeRoute">
                                                    <option value="">Please select</option>
                                                    <option value="1" ng-selected="selectTypeRoute == 1">Pick Up</option>
                                                    <option value="2" ng-selected="selectTypeRoute == 2">Drop Off</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div><!-- /.box-body -->
                                </form>
                            </div><!-- /.box -->

                        </div>

                    </div>
                </div>
                <!-- Main content -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="content" style="min-height: 0px; ">
                            <div class="box box-primary box-solid">
                                <div class="box-header bg-light-blue-active with-border">
                                    <h3 class="box-title">Stops RelationShip Route</h3>


                                </div><!-- /.box-header -->
                                <div class="box-body">
                                    <!--Search StakeHolder-->
                                    <div class="col-md-8">
                                        <div class="box box-info">
                                            <div class="box-body">
                                                <table>
                                                    <tbody>
                                                    <tr>
                                                        <td style="width: 400px;">
                                                            <div class="stops" angucomplete-alt id="ex2"
                                                                 placeholder="Search Stops"
                                                                 pause="5"
                                                                 selected-object="selectedStops"
                                                                 local-data="stopsFilter"
                                                                 local-search="localSearch"
                                                                 title-field="stop_name,stop_number"
                                                                 minlength="1"
                                                                 description-field="stop_address"
                                                                 image-field="pic"
                                                                 input-class="form-control form-control-small"
                                                                 match-class="highlight">
                                                            </div>
                                                        </td>
                                                        <td ng-show="selectedStops">
                                                            <button class="btn btn-info btn-flat"
                                                                    type="button"
                                                                    ng-click="addStopsSelect(selectedStops)">
                                                                Go!
                                                            </button>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>

                                            </div>

                                        </div>
                                    </div>
                                    <!--Table StakeHolder-->
                                    <div class="col-md-12" ng-show="showTable">
                                        <div class="box box-info">
                                            <div class="box-header">
                                                <h3 class="box-title">System Users</h3>
                                            </div><!-- /.box-header -->
                                            <div class="box-body">
                                                <table id="userTable"
                                                       class="table table-bordered table-striped">
                                                    <thead>
                                                    <tr>
                                                        <th>Number Stop</th>
                                                        <th>Name Stop</th>
                                                        <th>Stops Address</th>
                                                        <th>Actions</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr ng-repeat="stop in allListStopSelect">
                                                        <td id="id_stop_{{stop.id_stop}}">{{stop.stop_number}}</td>
                                                        <td id="id_number_stop_{{stop.id_stop}}">{{stop.stop_name}}</td>
                                                        <td id="id_adre_stop_{{stop.id_stop}}" style="text-align: center">{{stop.stop_address}}</td>
                                                        <td id="delete_{{user.user_id}}"><a ng-click="deleteStopsSelect(stop.id_stop)"><small><i class="fa fa-fw fa-trash"></i></small></i></a></td>
                                                    </tr>
                                                    </tbody>
                                                    </tfoot>
                                                </table>
                                            </div><!-- /.box-body -->
                                        </div><!-- /.box -->
                                        <div class="box-footer text-center ">
                                            <button type="submit" class="btn btn-success btn-md" ng-click="processStops()">Process</button>
                                            <button type="submit" class="btn btn-danger btn-md" ng-click="cleanStops()">Clean</button>
                                        </div>
                                    </div><!-- /.col -->
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="content" style="min-height: 0px;">
                        <!--box Address-->
                        <div class="col-md-12">
                            <div class="box box-primary box-solid">
                                <div class="box-header bg-light-blue-active with-border">
                                    <h3 class="box-title">Routes</h3>

                                    <div class="box-tools pull-right">
                                        <button class="btn btn-box-tool" data-widget="collapse"><i
                                                class="fa fa-plus"></i></button>
                                    </div><!-- /.box-tools -->
                                </div><!-- /.box-header -->
                                <div class="box-body">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-map-marker"></i>
                                            </div>
                                            <label class="form-control"></label>

                                        </div><!-- /.input group -->
                                    </div>
                                    <div id="googleMapDiv">
                                        <ui-gmap-google-map center='map.center' zoom='map.zoom' options="map.options"  draggable="true" control="map.control">

                                        </ui-gmap-google-map>
                                    </div>
                                </div>

                            </div><!-- /.box-body -->

                        </div>  <!--End box Address-->

                    </div>
                </div>

                <div class="row">
                    <div class="content" style="min-height: 0px;">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <button class="btn btn-block btn-primary btn-md"
                                    ng-click="saveRoute()">Save
                            </button>
                            <br/>
                        </div>
                        <div class="col-md-4"></div>
                    </div>
                    <br/>
                </div>

            </section>

        </div>

        <!--Footer-->
        <div ui-view="footer"></div>

    </div>
</div>