<spinner name="spinnerNew" ng-cloak="">
    <div class="overlay"></div>
    <div class="spinner">
        <div class="test"><i class="fa fa-refresh fa-spin fa-5x"></i></div>
    </div>
    <div class="please-wait">Please Wait...</div>
</spinner>

<div class="skin-blue sidebar-mini">

    <div class="wrapper" ng-controller="RouteCtrl">

        <!--header-->
        <div ui-view="header"></div>

        <!--menu-->
        <div ui-view="menu"></div>

        <!--content-->
        <div class="content-wrapper">

            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    Device Dashboard
                    <small>Control panel</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a ui-sref="home"><i class="fa fa-dashboard"></i>Home</a></li>
                    <li class="active">User Dashboard</li>
                </ol>
            </section>

            <!-- Main content -->
            <section class="content">
                <!-- Small boxes (Stat box) -->
                <div growl></div>

               <!-- <div class="row">
                    <div class="col-lg-3 col-xs-4">

                        <div class="small-box bg-blue">
                            <div class="inner">
                                <h3>100</h3>
                                <p>Active devices</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-stats-bars"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-xs-4">

                        <div class="small-box bg-blue">
                            <div class="inner">
                                <h3>30<sup style="font-size: 20px">%</sup></h3>
                                <p>Devices IN</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-stats-bars"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-xs-4">

                        <div class="small-box bg-blue">
                            <div class="inner">
                                <h3>70</h3>
                                <p>Devices OUT</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-stats-bars"></i>
                            </div>
                        </div>
                    </div>
                </div>-->
                <!-- Main row -->
                <div class="row">
                    <section class="content">
                        <div class="row">
                            <div class="col-xs-12">

                                <div class="box  box-info">
                                    <div class="box-header">
                                        <div class="small-box">
                                            <div class="customIcon">
                                                <a ui-sref="routesNewRegister" data-toggle="tooltip" title="Add Route">
                                                    <i class="ion ion-plus-circled"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <h3 class="box-title">System Devices</h3>

                                    </div><!-- /.box-header -->
                                    <div class="box-body">

                                        <div>
                                            <input class="form-control reduceSize" placeholder="Search here..." on-enter-blur on-blur-change="filterResult()" ng-model="filterCriteria.ReaxiumParameters.filter" type="text" />
                                        </div>

                                        <table id="userTable" class="table table-bordered table-striped">
                                            <thead>
                                            <tr>
                                                <th ng-repeat="header in routeTableHeaders">
                                                    <sort-by onsort="onSort" sortdir="filterCriteria.ReaxiumParameters.sortDir" sortedby="filterCriteria.ReaxiumParameters.sortedBy" sortvalue="{{ header.value }}">{{ header.title }}</sort-by>
                                                </th>
                                                <th>Quantity Stop</th>
                                                <th>Actions</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="obj in routes">
                                                <td>{{obj.route_number}}</td>
                                                <td>{{obj.route_name}}</td>
                                                <td>{{obj.route_address}}</td>
                                                <td>{{obj.routes_stops_count}}</td>
                                                <td><a data-toggle="tooltip" title="Delete Route" ng-click="deleteRoute(obj.id_route)"><small><i class="fa fa-fw fa-trash"></i></small></i></a> -
                                                    <a ng-click="editMode(obj.id_route)" data-toggle="tooltip" title="Edit Route"><small><i class="fa fa-fw fa-pencil"></i> </small></a></td>
                                            </tr>
                                            </tbody>
                                            </tfoot>
                                        </table>
                                        <div ng-show="totalRecords == 0">
                                            <h3>No Customers Found</h3>
                                        </div>
                                        <div ng-show="totalPages > 1" class="align-center">
                                            <uib-pagination total-items="totalRecords" ng-model="filterCriteria.ReaxiumParameters.page" items-per-page="filterCriteria.ReaxiumParameters.limit" previous-text="previous" next-text="next" last-text="last"
                                                            direction-links="true" rotate="false" ng-change="selectPage()"></uib-pagination>
                                        </div>
                                    </div><!-- /.box-body -->

                                </div><!-- /.box -->

                            </div><!-- /.col -->
                        </div><!-- /.row -->
                    </section><!-- /.content -->

                </div>
                <br/>
                <br/>
            </section>
        </div>

        <!--footer-->
        <div ui-view="footer" style="position: fixed; bottom: 0px; width: 100%"></div>

    </div>

</div>