<spinner name="spinnerBusinessList" ng-cloak="">
    <div class="overlay"></div>
    <div class="spinner">
        <div class="test"><i class="fa fa-refresh fa-spin fa-5x"></i></div>
    </div>
    <div class="please-wait">Please Wait...</div>
</spinner>

<div class="skin-blue sidebar-mini">

    <div class="wrapper" ng-controller="BusinessController as businessCtrl">
        <!--header-->
        <div ui-view="header"></div>

        <!--menu-->
        <div ui-view="menu"></div>

        <div class="content-wrapper">
            <!-- Content Header (Page header) -->

            <div growl></div>

            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    Reaxium School
                    <small>Control panel</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a ui-sref="home"><i class="fa fa-dashboard"></i>Home</a></li>
                    <li class="active">Reaxium School</li>
                </ol>
            </section>

            <!-- Main content -->
            <section class="content">
                <!-- Main row -->
                <div class="row">
                    <section class="content" style="min-height:450px;">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="box  box-info">
                                    <div class="box-header ">
                                        <div class="small-box">
                                            <div class="customIcon">
                                                <a ui-sref="newBusiness" data-toggle="tooltip" title="Add Business">
                                                    <i class="ion ion-plus-circled"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <h3 class="box-title">School in Reaxium</h3>

                                    </div><!-- /.box-header -->
                                    <div class="box-body">

                                        <div>
                                            <input class="form-control reduceSize" placeholder="Search here..."
                                                   on-enter-blur on-blur-change="filterResult()"
                                                   ng-model="businessCtrl.filterCriteria.ReaxiumParameters.filter"
                                                   type="text"/>
                                        </div>

                                        <table id="userTable" class="table table-bordered table-striped">
                                            <thead>
                                            <tr>
                                                <th ng-repeat="header in businessCtrl.businessTableHeaders">
                                                    <sort-by onsort="onSort"
                                                             sortdir="businessCtrl.filterCriteria.ReaxiumParameters.sortDir"
                                                             sortedby="businessCtrl.filterCriteria.ReaxiumParameters.sortedBy"
                                                             sortvalue="{{ header.value }}">{{ header.title }}
                                                    </sort-by>
                                                </th>
                                                <th>Phones</th>
                                                <th>Address</th>
                                                <th>Status</th>
                                                <th>Actions</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="business in businessCtrl.business">
                                                <td>{{business.business_name}}</td>
                                                <td>{{business.business_id_number}}</td>
                                                <td><a href=""
                                                       ng-click="businessCtrl.showPhoneInformation(business.business_id)">Phones</a>
                                                </td>
                                                <td><a href=""
                                                       ng-click="businessCtrl.showAddressInformation(business.business_id)">Addresss</a>
                                                </td>
                                                <td>{{business.status.status_name | lowerCase | capitalize}}</td>
                                                <td><a data-toggle="tooltip" title="Delete Business"
                                                       ng-click="deleteBusiness(business.business_id)">
                                                    <small><i class="fa fa-fw fa-trash"></i></small>
                                                    </i></a> -
                                                    <a ui-sref="newBusiness({id_business:business.business_id,edit:true})"
                                                       data-toggle="tooltip" title="Edit Business">
                                                        <small><i class="fa fa-fw fa-pencil"></i></small>
                                                    </a></td>
                                                <!--ng-click="businessCtrl.editMode(business.business_id)"-->
                                            </tr>
                                            </tbody>
                                            </tfoot>
                                        </table>
                                        <div ng-show="businessCtrl.totalRecords == 0">
                                            <h3>No School Found</h3>
                                        </div>
                                        <div ng-show="businessCtrl.totalPages > 1" class="align-center">
                                            <uib-pagination total-items="businessCtrl.totalRecords"
                                                            ng-model="businessCtrl.filterCriteria.ReaxiumParameters.page"
                                                            items-per-page="businessCtrl.filterCriteria.ReaxiumParameters.limit"
                                                            previous-text="previous" next-text="next" last-text="last"
                                                            direction-links="true" rotate="false"
                                                            ng-change="businessCtrl.selectPage()"></uib-pagination>
                                        </div>
                                    </div><!-- /.box-body -->

                                </div><!-- /.box -->

                            </div><!-- /.col -->
                        </div><!-- /.row -->
                    </section><!-- /.content -->

                </div>
                <br/>
                <br/>
            </section>

            <modal title="Business Phone Information" visible="businessCtrl.showPhoneModal">
                <div class="box box-widget widget-user">
                    <!-- Add the bg color to the header using any of the bg-* classes -->
                    <div class="widget-user-header bg-aqua-active">
                        <h3 class="widget-user-username">{{businessCtrl.businessFound.business_name}}</h3>
                        <h5 class="widget-user-desc">{{businessCtrl.businessFound.business_id_number}}</h5>
                    </div>
                    <div class="box-footer">
                        <div class="form-group">
                            <label>{{businessCtrl.businessFound.phone_number.phone_name}}</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-phone"></i>
                                </div>
                                <label class="form-control">{{businessCtrl.businessFound.phone_number.phone_number}}</label>
                            </div><!-- /.input group -->
                        </div>
                    </div>
                </div>
            </modal>
            <modal title="Business Address" visible="businessCtrl.showAddressModal">

                <div class="box box-widget widget-user">
                    <!-- Add the bg color to the header using any of the bg-* classes -->
                    <div class="widget-user-header bg-aqua-active">
                        <h3 class="widget-user-username">{{businessCtrl.businessFound.business_name}}</h3>
                        <h5 class="widget-user-desc">{{businessCtrl.businessFound.business_id_number}}</h5>
                    </div>
                    <div class="box-footer">
                        <div class="box">
                            <div class="box-header with-border">
                                <h3 class="box-title">Business Address Information</h3>
                            </div><!-- /.box-header -->
                            <div class="box-body no-padding">
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-map-marker"></i>
                                        </div>
                                        <label class="form-control">{{businessCtrl.businessFound.addres.address}}</label>
                                    </div><!-- /.input group -->
                                </div>
                                <ui-gmap-google-map center='map.center' zoom='map.zoom' options="map.options">
                                    <ui-gmap-marker idKey='1' coords='marker.coords'></ui-gmap-marker>
                                </ui-gmap-google-map>
                            </div>
                        </div><!-- /.box-body -->
                    </div>
                </div>
            </modal>
            <div class="control-sidebar-bg"></div>

        </div>
        <div ui-view="footer"></div>
    </div>

    </div>
</div>




